<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="74aa6006-94dd-4f2e-859d-de96ba90f7cb"
            Publisher="CN=tmf.000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>TestMetro</DisplayName>
    <PublisherDisplayName>tmf.000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>TestMetro</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="TestMetro.App">
        <VisualElements
            DisplayName="TestMetro"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="TestMetro"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>